---

_You are currently looking at **version 1.1** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

In [2]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind

# Assignment 4 - Hypothesis Testing
This assignment requires more individual learning than previous assignments - you are encouraged to check out the [pandas documentation](http://pandas.pydata.org/pandas-docs/stable/) to find functions or methods you might not have used yet, or ask questions on [Stack Overflow](http://stackoverflow.com/) and tag them as pandas and python related. And of course, the discussion forums are open for interaction with your peers and the course staff.

Definitions:
* A _quarter_ is a specific three month period, Q1 is January through March, Q2 is April through June, Q3 is July through September, Q4 is October through December.
* A _recession_ is defined as starting with two consecutive quarters of GDP decline, and ending with two consecutive quarters of GDP growth.
* A _recession bottom_ is the quarter within a recession which had the lowest GDP.
* A _university town_ is a city which has a high percentage of university students compared to the total population of the city.

**Hypothesis**: University towns have their mean housing prices less effected by recessions. Run a t-test to compare the ratio of the mean price of houses in university towns the quarter before the recession starts compared to the recession bottom. (`price_ratio=quarter_before_recession/recession_bottom`)

The following data files are available for this assignment:
* From the [Zillow research data site](http://www.zillow.com/research/data/) there is housing data for the United States. In particular the datafile for [all homes at a city level](http://files.zillowstatic.com/research/public/City/City_Zhvi_AllHomes.csv), ```City_Zhvi_AllHomes.csv```, has median home sale prices at a fine grained level.
* From the Wikipedia page on college towns is a list of [university towns in the United States](https://en.wikipedia.org/wiki/List_of_college_towns#College_towns_in_the_United_States) which has been copy and pasted into the file ```university_towns.txt```.
* From Bureau of Economic Analysis, US Department of Commerce, the [GDP over time](http://www.bea.gov/national/index.htm#gdp) of the United States in current dollars (use the chained value in 2009 dollars), in quarterly intervals, in the file ```gdplev.xls```. For this assignment, only look at GDP data from the first quarter of 2000 onward.

Each function in this assignment below is worth 10%, with the exception of ```run_ttest()```, which is worth 50%.

In [3]:
# Use this dictionary to map state names to two letter acronyms
states = {'OH': 'Ohio', 'KY': 'Kentucky', 'AS': 'American Samoa', 'NV': 'Nevada', 'WY': 'Wyoming', 'NA': 'National', 'AL': 'Alabama', 'MD': 'Maryland', 'AK': 'Alaska', 'UT': 'Utah', 'OR': 'Oregon', 'MT': 'Montana', 'IL': 'Illinois', 'TN': 'Tennessee', 'DC': 'District of Columbia', 'VT': 'Vermont', 'ID': 'Idaho', 'AR': 'Arkansas', 'ME': 'Maine', 'WA': 'Washington', 'HI': 'Hawaii', 'WI': 'Wisconsin', 'MI': 'Michigan', 'IN': 'Indiana', 'NJ': 'New Jersey', 'AZ': 'Arizona', 'GU': 'Guam', 'MS': 'Mississippi', 'PR': 'Puerto Rico', 'NC': 'North Carolina', 'TX': 'Texas', 'SD': 'South Dakota', 'MP': 'Northern Mariana Islands', 'IA': 'Iowa', 'MO': 'Missouri', 'CT': 'Connecticut', 'WV': 'West Virginia', 'SC': 'South Carolina', 'LA': 'Louisiana', 'KS': 'Kansas', 'NY': 'New York', 'NE': 'Nebraska', 'OK': 'Oklahoma', 'FL': 'Florida', 'CA': 'California', 'CO': 'Colorado', 'PA': 'Pennsylvania', 'DE': 'Delaware', 'NM': 'New Mexico', 'RI': 'Rhode Island', 'MN': 'Minnesota', 'VI': 'Virgin Islands', 'NH': 'New Hampshire', 'MA': 'Massachusetts', 'GA': 'Georgia', 'ND': 'North Dakota', 'VA': 'Virginia'}

In [4]:
def get_list_of_university_towns():
    '''Returns a DataFrame of towns and the states they are in from the 
    university_towns.txt list. The format of the DataFrame should be:
    DataFrame( [ ["Michigan", "Ann Arbor"], ["Michigan", "Yipsilanti"] ], 
    columns=["State", "RegionName"]  )
    
    The following cleaning needs to be done:

    1. For "State", removing characters from "[" to the end.
    2. For "RegionName", when applicable, removing every character from " (" to the end.
    3. Depending on how you read the data, you may need to remove newline character '\n'. '''
    town = pd.read_table('university_towns.txt',header=None,names=['RegionName'])
    findstate = town['RegionName'].str.contains('[edit]',regex=False)
    town['State'] = town[findstate]
    town['State'] = town['State'].str.replace(r'(\[.*\])','')
    town['State'].fillna(method="ffill",inplace=True)
    town['RegionName'] = town['RegionName'].str.replace(r'\[.*\]','')
    town['RegionName'] = town['RegionName'].str.replace(r'\s\(.*\)','')
    town = town[~findstate].reset_index()
    newdata = pd.DataFrame(town,columns=['State','RegionName'])
    return newdata
get_list_of_university_towns()

         State     RegionName
0      Alabama         Auburn
1      Alabama       Florence
2      Alabama   Jacksonville
3      Alabama     Livingston
4      Alabama     Montevallo
..         ...            ...
512  Wisconsin    River Falls
513  Wisconsin  Stevens Point
514  Wisconsin       Waukesha
515  Wisconsin     Whitewater
516    Wyoming        Laramie

[517 rows x 2 columns]

In [140]:
gdp = pd.read_excel('gdplev.xls',header=5,usecols=[4,5,6],names=['Quarter', 'GDP current', 'GDP chained 2009']).dropna().reset_index(drop=True)
gdp = pd.concat([gdp,gdp['Quarter'].str.split('q',expand=True)],axis=1)
# gdp.drop('Quarter',axis=1,inplace=True)
gdp.columns = ['Quarter','GDP current', 'GDP chained 2009','Year','Q']
gdp['Year'] = gdp['Year'].apply(int)
gdp['Q'] = gdp['Q'].apply(int)
# gdp = gdp[gdp['Year']>2000].reset_index(drop=True)
gdp.set_index('Quarter',inplace=True)
print(gdp)

def cal_recession():
    result = {
        'start': [],
        'end': [],
        'bottom': []
    }
    
    down_counter = 2
    down_start_index = ''
    
    up_counter = 0
    
    bottom = 9999999
    bottom_index = ''
    
    flag = False
    
    last_value = gdp['GDP chained 2009'].iloc[0]
    print('initial value: {}'.format(last_value))
    
    for index, item in gdp.iterrows():
        value = item['GDP chained 2009']
        print('{} {}'.format(index, value))
        
        if value < last_value:
            print('------------ Begin to decrease ----------')
            if down_counter == 2:
                down_start_index = index
            down_counter -= 1
            if value < bottom:
                bottom = value
                bottom_index = index
        else:
            down_counter = 2
        
        if down_counter == 0:
            print('--------- Recession is coming ----------')
            bottom = value
            bottom_index = index
            flag = True
            up_counter = 0
            result['start'].append(down_start_index)
        
        if flag:
            if value > last_value:
                print('+++++++++++++ Begin to increase ++++++++++++')
                up_counter += 1
            else:
                up_counter = 0
                
            if up_counter ==2:
                print('+++++++++++++ Recession ends ++++++++++++++')
                down_counter = 0
                flag = False
                result['end'].append(index)
                result['bottom'].append(bottom_index)
                
        last_value = value
            
    return result
cal_recession()    
def get_recession_start():
    '''Returns the year and quarter of the recession start time as a 
    string value in a format such as 2005q3'''
    start = result['start']
    return start[-1]
get_recession_start()

         GDP current  GDP chained 2009  Year  Q
Quarter
1947q1         243.1            1934.5  1947  1
1947q2         246.3            1932.3  1947  2
1947q3         250.1            1930.3  1947  3
1947q4         260.3            1960.7  1947  4
1948q1         266.2            1989.5  1948  1
...              ...               ...   ... ..
2015q2       17998.3           16374.2  2015  2
2015q3       18141.9           16454.9  2015  3
2015q4       18222.8           16490.7  2015  4
2016q1       18281.6           16525.0  2016  1
2016q2       18450.1           16583.1  2016  2

[278 rows x 4 columns]
initial value: 1934.5
1947q1 1934.5
1947q2 1932.3
------------ Begin to decrease ----------
1947q3 1930.3
------------ Begin to decrease ----------
--------- Recession is coming ----------
1947q4 1960.7
+++++++++++++ Begin to increase ++++++++++++
1948q1 1989.5
+++++++++++++ Begin to increase ++++++++++++
+++++++++++++ Recession ends ++++++++++++++
1948q2 2021.9
1948q3 2033.2
1948q4 2035.3
1949q1 2007.5
------------ Begin to decrease ----------
1949q2 2000.8
------------ Begin to decrease ----------
--------- Recession is coming ----------
1949q3 2022.8
+++++++++++++ Begin to increase ++++++++++++
1949q4 2004.7
------------ Begin to decrease ----------
1950q1 2084.6
+++++++++++++ Begin to increase ++++++++++++
1950q2 2147.6
+++++++++++++ Begin to increase ++++++++++++
+++++++++++++ Recession ends ++++++++++++++
1950q3 2230.4
1950q4 2273.4
1951q1 2304.5
1951q2 2344.5
1951q3 2392.8
1951q4 2398.1
1952q1 2423.5
1952q2 2428.5
1952q3 2446.1
1952q4 2526.4
1953q1 2573.4
1953q2 2593.5
1953q3 2578.9
------------ Begin to decrease ----------
1953q4 2539.8
------------ Begin to decrease ----------
--------- Recession is coming ----------
1954q1 2528.0
------------ Begin to decrease ----------
1954q2 2530.7
+++++++++++++ Begin to increase ++++++++++++
1954q3 2559.4
+++++++++++++ Begin to increase ++++++++++++
+++++++++++++ Recession ends ++++++++++++++
1954q4 2609.3
1955q1 2683.8
1955q2 2727.5
1955q3 2764.1
1955q4 2780.8
1956q1 2770.0
------------ Begin to decrease ----------
1956q2 2792.9
1956q3 2790.6
------------ Begin to decrease ----------
1956q4 2836.2
1957q1 2854.5
1957q2 2848.2
------------ Begin to decrease ----------
1957q3 2875.9
1957q4 2846.4
------------ Begin to decrease ----------
1958q1 2772.7
------------ Begin to decrease ----------
--------- Recession is coming ----------
1958q2 2790.9
+++++++++++++ Begin to increase ++++++++++++
1958q3 2855.5
+++++++++++++ Begin to increase ++++++++++++
+++++++++++++ Recession ends ++++++++++++++
1958q4 2922.3
1959q1 2976.6
1959q2 3049.0
1959q3 3043.1
------------ Begin to decrease ----------
1959q4 3055.1
1960q1 3123.2
1960q2 3111.3
------------ Begin to decrease ----------
1960q3 3119.1
1960q4 3081.3
------------ Begin to decrease ----------
1961q1 3102.3
1961q2 3159.9
1961q3 3212.6
1961q4 3277.7
1962q1 3336.8
1962q2 3372.7
1962q3 3404.8
1962q4 3418.0
1963q1 3456.1
1963q2 3501.1
1963q3 3569.5
1963q4 3595.0
1964q1 3672.7
1964q2 3716.4
1964q3 3766.9
1964q4 3780.2
1965q1 3873.5
1965q2 3926.4
1965q3 4006.2
1965q4 4100.6
1966q1 4201.9
1966q2 4219.1
1966q3 4249.2
1966q4 4285.6
1967q1 4324.9
1967q2 4328.7
1967q3 4366.1
1967q4 4401.2
1968q1 4490.6
1968q2 4566.4
1968q3 4599.3
1968q4 4619.8
1969q1 4691.6
1969q2 4706.7
1969q3 4736.1
1969q4 4715.5
------------ Begin to decrease ----------
1970q1 4707.1
------------ Begin to decrease ----------
--------- Recession is coming ----------
1970q2 4715.4
+++++++++++++ Begin to increase ++++++++++++
1970q3 4757.2
+++++++++++++ Begin to increase ++++++++++++
+++++++++++++ Recession ends ++++++++++++++
1970q4 4708.3
------------ Begin to decrease ----------
1971q1 4834.3
1971q2 4861.9
1971q3 4900.0
1971q4 4914.3
1972q1 5002.4
1972q2 5118.3
1972q3 5165.4
1972q4 5251.2
1973q1 5380.5
1973q2 5441.5
1973q3 5411.9
------------ Begin to decrease ----------
1973q4 5462.4
1974q1 5417.0
------------ Begin to decrease ----------
1974q2 5431.3
1974q3 5378.7
------------ Begin to decrease ----------
1974q4 5357.2
------------ Begin to decrease ----------
--------- Recession is coming ----------
1975q1 5292.4
------------ Begin to decrease ----------
1975q2 5333.2
+++++++++++++ Begin to increase ++++++++++++
1975q3 5421.4
+++++++++++++ Begin to increase ++++++++++++
+++++++++++++ Recession ends ++++++++++++++
1975q4 5494.4
1976q1 5618.5
1976q2 5661.0
1976q3 5689.8
1976q4 5732.5
1977q1 5799.2
1977q2 5913.0
1977q3 6017.6
1977q4 6018.2
1978q1 6039.2
1978q2 6274.0
1978q3 6335.3
1978q4 6420.3
1979q1 6433.0
1979q2 6440.8
1979q3 6487.1
1979q4 6503.9
1980q1 6524.9
1980q2 6392.6
------------ Begin to decrease ----------
1980q3 6382.9
------------ Begin to decrease ----------
--------- Recession is coming ----------
1980q4 6501.2
+++++++++++++ Begin to increase ++++++++++++
1981q1 6635.7
+++++++++++++ Begin to increase ++++++++++++
+++++++++++++ Recession ends ++++++++++++++
1981q2 6587.3
------------ Begin to decrease ----------
1981q3 6662.9
1981q4 6585.1
------------ Begin to decrease ----------
1982q1 6475.0
------------ Begin to decrease ----------
--------- Recession is coming ----------
1982q2 6510.2
+++++++++++++ Begin to increase ++++++++++++
1982q3 6486.8
------------ Begin to decrease ----------
1982q4 6493.1
+++++++++++++ Begin to increase ++++++++++++
1983q1 6578.2
+++++++++++++ Begin to increase ++++++++++++
+++++++++++++ Recession ends ++++++++++++++
1983q2 6728.3
1983q3 6860.0
1983q4 7001.5
1984q1 7140.6
1984q2 7266.0
1984q3 7337.5
1984q4 7396.0
1985q1 7469.5
1985q2 7537.9
1985q3 7655.2
1985q4 7712.6
1986q1 7784.1
1986q2 7819.8
1986q3 7898.6
1986q4 7939.5
1987q1 7995.0
1987q2 8084.7
1987q3 8158.0
1987q4 8292.7
1988q1 8339.3
1988q2 8449.5
1988q3 8498.3
1988q4 8610.9
1989q1 8697.7
1989q2 8766.1
1989q3 8831.5
1989q4 8850.2
1990q1 8947.1
1990q2 8981.7
1990q3 8983.9
1990q4 8907.4
------------ Begin to decrease ----------
1991q1 8865.6
------------ Begin to decrease ----------
--------- Recession is coming ----------
1991q2 8934.4
+++++++++++++ Begin to increase ++++++++++++
1991q3 8977.3
+++++++++++++ Begin to increase ++++++++++++
+++++++++++++ Recession ends ++++++++++++++
1991q4 9016.4
1992q1 9123.0
1992q2 9223.5
1992q3 9313.2
1992q4 9406.5
1993q1 9424.1
1993q2 9480.1
1993q3 9526.3
1993q4 9653.5
1994q1 9748.2
1994q2 9881.4
1994q3 9939.7
1994q4 10052.5
1995q1 10086.9
1995q2 10122.1
1995q3 10208.8
1995q4 10281.2
1996q1 10348.7
1996q2 10529.4
1996q3 10626.8
1996q4 10739.1
1997q1 10820.9
1997q2 10984.2
1997q3 11124.0
1997q4 11210.3
1998q1 11321.2
1998q2 11431.0
1998q3 11580.6
1998q4 11770.7
1999q1 11864.7
1999q2 11962.5
1999q3 12113.1
1999q4 12323.3
2000q1 12359.1
2000q2 12592.5
2000q3 12607.7
2000q4 12679.3
2001q1 12643.3
------------ Begin to decrease ----------
2001q2 12710.3
2001q3 12670.1
------------ Begin to decrease ----------
2001q4 12705.3
2002q1 12822.3
2002q2 12893.0
2002q3 12955.8
2002q4 12964.0
2003q1 13031.2
2003q2 13152.1
2003q3 13372.4
2003q4 13528.7
2004q1 13606.5
2004q2 13706.2
2004q3 13830.8
2004q4 13950.4
2005q1 14099.1
2005q2 14172.7
2005q3 14291.8
2005q4 14373.4
2006q1 14546.1
2006q2 14589.6
2006q3 14602.6
2006q4 14716.9
2007q1 14726.0
2007q2 14838.7
2007q3 14938.5
2007q4 14991.8
2008q1 14889.5
------------ Begin to decrease ----------
2008q2 14963.4
2008q3 14891.6
------------ Begin to decrease ----------
2008q4 14577.0
------------ Begin to decrease ----------
--------- Recession is coming ----------
2009q1 14375.0
------------ Begin to decrease ----------
2009q2 14355.6
------------ Begin to decrease ----------
2009q3 14402.5
+++++++++++++ Begin to increase ++++++++++++
2009q4 14541.9
+++++++++++++ Begin to increase ++++++++++++
+++++++++++++ Recession ends ++++++++++++++
2010q1 14604.8
2010q2 14745.9
2010q3 14845.5
2010q4 14939.0
2011q1 14881.3
------------ Begin to decrease ----------
2011q2 14989.6
2011q3 15021.1
2011q4 15190.3
2012q1 15291.0
2012q2 15362.4
2012q3 15380.8
2012q4 15384.3
2013q1 15491.9
2013q2 15521.6
2013q3 15641.3
2013q4 15793.9
2014q1 15747.0
------------ Begin to decrease ----------
2014q2 15900.8
2014q3 16094.5
2014q4 16186.7
2015q1 16269.0
2015q2 16374.2
2015q3 16454.9
2015q4 16490.7
2016q1 16525.0
2016q2 16583.1

'2008q3'

In [141]:
def get_recession_end():
    '''Returns the year and quarter of the recession end time as a 
    string value in a format such as 2005q3'''
    end = result['end']   
    return end[-1]
get_recession_end()

'2009q4'

In [142]:
def get_recession_bottom():
    '''Returns the year and quarter of the recession bottom time as a 
    string value in a format such as 2005q3'''
    bottom = result['bottom']
    return bottom[-1]
get_recession_bottom()

'2009q2'

In [143]:
def convert_housing_data_to_quarters():
    '''Converts the housing data to quarters and returns it as mean 
    values in a dataframe. This dataframe should be a dataframe with
    columns for 2000q1 through 2016q3, and should have a multi-index
    in the shape of ["State","RegionName"].
    
    Note: Quarters are defined in the assignment description, they are
    not arbitrary three month periods.
    
    The resulting dataframe should have 67 columns, and 10,730 rows.
    '''
    housing = pd.read_csv('City_Zhvi_AllHomes.csv',header=None)
    housing = housing.iloc[:,1:3].merge(housing.iloc[:,51:],left_index=True,right_index=True)
    housing = housing.T
    housing.reset_index(drop=True,inplace=True)
    housing[0].iloc[2:] = pd.to_datetime(housing[0].iloc[2:]).dt.to_period('q')
    housing[0].iloc[2:] = housing[0].iloc[2:].apply(lambda x: str(x).replace('Q','q'))
    housing = housing.T.set_index(0).T
    housing = housing.set_index('RegionName').T
    housing.index.names=['RegionName']
    housing.columns.names=['']
    housing=housing.apply(lambda x: pd.to_numeric(x, errors='ignore'))
    h = housing.iloc[:,2:]
    h = h.groupby(level=0,axis=1).mean()
    housing['State'] = housing['State'].replace(states)
    housing.reset_index(inplace=True)
    
    return h.set_index([housing['State'],housing['RegionName']])
convert_housing_data_to_quarters()

C:\Users\guotree\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3254: DtypeWarning: Columns (0,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

,,2000q1,2000q2,2000q3,2000q4,2001q1,2001q2,2001q3,2001q4,2002q1,2002q2,...,2014q2,2014q3,2014q4,2015q1,2015q2,2015q3,2015q4,2016q1,2016q2,2016q3
State,RegionName,,,,,,,,,,,,,,,,,,,,,
New York,New York,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,515466.666667,522800.000000,528066.666667,532266.666667,540800.000000,557200.000000,572833.333333,582866.666667,591633.333333,587200.0
California,Los Angeles,208400.0,214466.666667,220966.666667,226166.666667,233000.000000,239100.000000,245066.666667,253033.333333,261966.666667,272700.000000,...,498033.333333,509066.666667,518866.666667,528800.000000,538166.666667,547266.666667,557733.333333,566033.333333,577466.666667,584050.0
Illinois,Chicago,139200.0,143633.333333,147866.666667,152133.333333,156933.333333,161800.000000,166400.000000,170433.333333,175500.000000,177566.666667,...,192633.333333,195766.666667,201266.666667,201066.666667,206033.333333,208300.000000,207900.000000,206066.666667,208200.000000,212000.0
Pennsylvania,Philadelphia,53150.0,53633.333333,54133.333333,54700.000000,55333.333333,55533.333333,56266.666667,57533.333333,59133.333333,60733.333333,...,113733.333333,115300.000000,115666.666667,116200.000000,117966.666667,121233.333333,122200.000000,123433.333333,126933.333333,128700.0
Arizona,Phoenix,112250.0,114366.666667,116000.000000,117400.000000,119600.000000,121566.666667,122700.000000,124300.000000,126533.333333,128366.666667,...,164266.666667,165366.666667,168500.000000,171533.333333,174166.666667,179066.666667,183833.333333,187900.000000,191433.333333,195200.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Wisconsin,Town of Wrightstown,102100.0,105400.000000,111366.666667,114866.666667,125966.666667,129900.000000,129900.000000,129433.333333,131900.000000,134200.000000,...,144866.666667,146866.666667,149233.333333,148666.666667,149333.333333,149866.666667,149933.333333,149833.333333,151266.666667,155000.0
New York,Urbana,80000.0,81666.666667,91700.000000,98366.666667,94866.666667,98533.333333,102966.666667,98033.333333,93966.666667,94600.000000,...,132133.333333,137033.333333,140066.666667,141700.000000,137866.666667,136466.666667,136166.666667,138966.666667,144200.000000,143000.0
Wisconsin,New Denmark,114900.0,119266.666667,126066.666667,131966.666667,143800.000000,146966.666667,148366.666667,149166.666667,153133.333333,156733.333333,...,174566.666667,181166.666667,186166.666667,187600.000000,188666.666667,188433.333333,188933.333333,191066.666667,192833.333333,197600.0
California,Angels,152500.0,155900.000000,158100.000000,167466.666667,176833.333333,183766.666667,190233.333333,184566.666667,184033.333333,186133.333333,...,244466.666667,254066.666667,259933.333333,260100.000000,250633.333333,263500.000000,279500.000000,276533.333333,271600.000000,269950.0
Wisconsin,Holland,151150.0,150500.000000,153233.333333,155833.333333,161866.666667,165733.333333,168033.333333,167400.000000,165766.666667,161966.666667,...,201266.666667,201566.666667,201266.666667,206000.000000,207600.000000,212866.666667,217833.333333,221966.666667,228033.333333,234950.0

In [144]:
def run_ttest():
    '''First creates new data showing the decline or growth of housing prices
    between the recession start and the recession bottom. Then runs a ttest
    comparing the university town values to the non-university towns values, 
    return whether the alternative hypothesis (that the two groups are the same)
    is true or not as well as the p-value of the confidence. 
    
    Return the tuple (different, p, better) where different=True if the t-test is
    True at a p<0.01 (we reject the null hypothesis), or different=False if 
    otherwise (we cannot reject the null hypothesis). The variable p should
    be equal to the exact p value returned from scipy.stats.ttest_ind(). The
    value for better should be either "university town" or "non-university town"
    depending on which has a lower mean price ratio (which is equivilent to a
    reduced market loss).'''
    housing = convert_housing_data_to_quarters()
    price = pd.DataFrame(housing[get_recession_bottom()]-housing[get_recession_start()],columns=['delta_price'])
    university_towns = get_list_of_university_towns()
    university_towns['test'] = university_towns['State'] + university_towns['RegionName']
    price = price.reset_index()
    price['Is_utowns'] = price.apply(lambda x: x[0]+x[1] in list(university_towns['test']),axis=1)
    price_u = price[price['Is_utowns']]['delta_price']
    price_nu = price[~price['Is_utowns']]['delta_price']
    statistic, pvalue = ttest_ind(price_u,price_nu,nan_policy='omit')
    if pvalue < 0.01:
        different = True
    else:
        different = False
    if price_u.mean() > price_nu.mean():
        better = 'university town'
    else:
        better = 'non-university town'
    return (different, pvalue, better)
run_ttest()

C:\Users\guotree\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3331: DtypeWarning: Columns (0,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

(True, 0.0025826404310383827, 'university town')